@font-face {
    font-family: Lato-Black;
    src: url(../../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-BlackItalic;
    src: url(../../fonts/Lato-BlackItalic.ttf);
}
@font-face {
    font-family: Lato-Italic;
    src: url(../../fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: Lato-ThinItalic;
    src: url(../../fonts/Lato-ThinItalic.ttf);
}

*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 128px;
    background: linear-gradient(#a18cd1, #fbc2eb);
}

html{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #267BDE;
}
h3, h2, h1, h5, ul{
    margin: 0;
}

/* Header */

.body{
    margin: 0;
    padding: 0;
}
.top-block{
    height: 80px;
}
.header{
    height: 80px;
    position: relative;
    background-color: #90d2fe;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
@media(max-width:830px){
    .container{
        max-width: 94%;
    }
}

.dropdownLink{
    position: fixed;
    height: 100px;
    width: 50px;
    top: 50%;
    margin-top: -50px;
    right: -5px;
    background-color: #ffbf00;
    z-index: 8;
    border-radius: 16px 0 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s all;
}

.dropdownLink i{
    color: #ffffff;
    transition: 0.8s all;
}

.dropdown{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 340px;
    right: -342px;
    background-color: #f5a500;
    transition: 0.8s all;
    z-index: 8;
    top: 0;
    flex-direction: column;
    overflow-y: auto;
    justify-content: center;
}

.activeDropdownLink{
    right: 335px;
}
.activeDropdownLink i{
    transform: rotate(-180deg);
}

.activeDropdown{
    right: 0;
}

.animalRow{
    padding: 8px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Lato-Italic;
    font-style: normal;
}

.animalRow:last-of-type{
    margin-bottom: 32px;
}

.animalInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
}

.animalRow img{
    width: 70px;
    height: 70px;
}

.animalName{
    text-transform: uppercase;
}

/* Burger menu */

.burger_menu{
    right: 30px;
    top: 12px;
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.sticks{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    transition: 0.4s all;
}
.stick1{
    top: 16px;
}
.stick3{
    top: 31px;
}
.active_burger .sticks{
    background-color: #fdb500;
}
.active_burger .stick1 {
    transform: rotate(135deg);
    top: 23px;
}
.active_burger .stick2{
    opacity: 0;
}
.active_burger .stick3 {
    transform: rotate(-135deg);
    top: 23px;
}
@media(max-width:640px){
    .burger_menu{
        display: flex;
    }
    .menu{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9;
        top: 0;
        right: -101%;
        display: flex;
        transition: 0.4s all;
        /*transform: scaleY(0);*/
        justify-content: center !important;
        background-color: #90d2fe;
        vertical-align: middle !important;
        align-items: center !important;
    }
    .menu__list{
        display: block;
        flex-direction: column;
        width: 280px !important;
        padding-inline-start: 0;
        height: 304px !important;
    }
    .menu__list li {
        width: 100%;
    }
    .menu__list li a{
        text-align: center;
        display: block;
        padding: 20px 0;
    }
    .menu__list li a:hover{
        text-align: center;
        display: block;
        padding: 20px 0;
        background-color: #70CB0E;
        transition: 0.5s all;
        border-radius: 40px;
    }
    .activeMenu{
        /*transform: scaleY(100%);*/
        right: 0;
    }
    .main__text{
        padding: 10px;
        opacity: 0.8;
        background-color: white;
        border-radius: 20px;
    }
    .main__text span{
        opacity: 1;
    }
}
.title{
    font-size: 0;
    padding: 0;
    margin: 0;
}
.header__logo{
    width: 112px;
    height: 57px;
}
ul.menu__list {
    list-style-type: none;
    width: 409px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
}
.menu__list-link{
    color: #000000;
    line-height: 21px;
    font-size: 18px;
    font-family: Lato-Italic;
    font-style: normal;
    font-weight: 500;
}
.menu__list-link:hover{
    text-shadow: #70CB0E 1px 1px 0, #70CB0E -1px -1px 0, #70CB0E -1px 1px 0, #70CB0E 1px -1px 0;
}
.header__inner{
    max-width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__text{
    display: block;
    width: 570px;
    height: 252px;
    margin-top: 130px;
    margin-bottom: 0;
    font-family: Lato-BlackItalic;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #000000;
}

@media(max-width: 830px){
    .main__text{
        margin-top: 70px;
        width: 414px;
        height: 180px;
        /*font-weight: 900;*/
        font-size: 50px;
    }
}

@media(max-width:480px){
    .container{
        max-width: 99%;
    }
    .main__text{
        width: 220px;
        height: 300px;
    }
    .header__inner {
        max-width: 100%;
    }
}

/* Footer */

.footer{
    height: 270px;
    margin: 0;
    background-image: url("../../images/Footer_background.png");
}

@media(max-width: 980px){
    .footer_panel{
        flex-direction: column;
    }
}

.footer_panel{
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo{
    width: 98px;
    height: 50px;
}
.footer_menu{
    width: 256px;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_social{
    width: 190px;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer_donate{
    padding: 0;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    background: #70CB0E;
    border-radius: 30px;
    border-color: #70CB0E;
    font-size: 18px;
    color: #000000;
    font-family: Lato-Italic;
    font-weight: 400;
    line-height: 21px;
}
.footer_donate:hover{
    background: #FFE68E;
    border-color: #FFE68E;
}
.footer_donate:active{
    background: transparent;
    border-color: #70CB0E;
    border-width: 4px;
}
.footer_donate:focus{
    outline: none;
}
@media(max-width: 1200px){
    .footer{
        height: 740px;
    }
    ul.footer_social{
        padding: 0;
    }
    ul.footer_menu{
        padding: 0;
    }
    .footer_block{
        height: 56px;
    }
    .footer_panel{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
    }
    .footer_logo{
        width: 140px;
        height: 70px;
    }
}
@media (max-width: 830px) {
    .footer_social{
        width: 190px;
        margin: 0;
    }
    .footer_menu{
        width: 190px;
        height: 58px;
        margin: 0;
    }
}
@media (max-width: 480px) {
    .footer_menu{
        flex-direction: column;
        align-items: center;
        width: 88px;
        height: 130px;
        padding: 0;
    }
    .footer_block{
        height: 58px;
        align-items: center;
    }
    .footer_social{
        padding: 0;
    }
}


/* Map */

.map{
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 1000px;
    background-color: #90d2fe;
    position: relative;
}
@media (max-width: 1200px) {
    .map{
        overflow-x: auto;
    }
}
.world_map img{
    width: 1600px;
    height: 1000px;
}
.circle{
    position: absolute;

    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
.marker{
    background-image: url("../../images/marker.png");
    background-size: cover;
    position: absolute;
    width: 27px;
    height: 35px;
}
.mk1{
    left: 880px;
    bottom: 560px;
}
.mk2{
    left: 50px;
    bottom: 720px;
}
.mk3{
    left: 220px;
    bottom: 580px;
}
.mk4{
    left: 620px;
    bottom: 430px;
}
.c-panda{
    background-image: url("../../images/HIW_panda.png");
    background-size: cover;
    left: 73%;
    bottom: 0;
}
.c-eagle{
    background-image: url("../../images/HIW_eagle.png");
    background-size: cover;
    left: 73%;
    bottom: 0;
}
.c-alligator{
    background-image: url("../../images/Slider-alligator.png");
    background-size: cover;
    left: 73%;
    bottom: 0;
}
.c-gorilla{
    background-image: url("../../images/Slider-gorilla.png");
    background-size: cover;
    left: 73%;
    bottom: 0;
}

.worldInfo{
    background: rgba(0, 107, 66, 0.85);
    border: 5px solid #FFE68E;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    background-size: contain;
    width: 240px;
    height: 74px;
    position: absolute;

    font-size: 21px;
    font-family: Lato-Italic;
    font-weight: 400;
    color: white;
    line-height: 18px;

    display: none;
}

.worldInfo span{
    padding-top: 10px;
    padding-left: 14px;

    display: block;
}

.f-panda{
    left: 910px;
    bottom: 560px;
}
.f-alligator{
    left: 250px;
    bottom: 580px;
}
.f-gorilla{
    left: 650px;
    bottom: 430px;
}
.f-eagle{
    left: 80px;
    bottom: 720px;
}

.hov{
    transition: 1s all linear;
}

.hov.mk1:hover, .hov.mk2:hover, .hov.mk3:hover, .hov.mk4:hover{
    fill: #FFE68E;
    transition: 0.6s all linear;
}

.isMousemoveMarker{
    fill: #FFE68E;
    transition: 0.6s all linear;
}